@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--input: #ffffff;
	--primary: #255ff4;
	--dur: 1s;
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1280 - 320));
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body{
  width: 100%;
  height: 100%;
  color: #444246;
  background:  linear-gradient(to bottom, #c0798d 0%,#6b5394 100%);
  background-size: cover;
  overflow: hidden;
}
body:hover{
  overflow-y:scroll;
  scrollbar-width: thin;
  scrollbar-color: #90A4AE #CFD8DC;
}

body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: #CFD8DC;
}
body::-webkit-scrollbar-thumb {
  background-color: #90A4AE;
  border-radius: 10px;
  border: 3px solid #CFD8DC;
}
.wrapper{
  background: #171c24;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 0.75em;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 10%;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper .search-icon{
  content: '';
  display: block;
  border-radius: 999px;
  width: 20px;
  height: 20px;
  left: 43px;
  bottom: 43px;
  background: #FDFAF5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  /*width: 100%;*/
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.7em;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.7em;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}




/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  left: 100%;
  min-width:230px;
  text-align: center;
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1324px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 1109px){
  .wrapper .menu-icon{
    display: block;
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 91%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  nav .content .links:hover{
    overflow-y:scroll;
    scrollbar-width: thin;
    scrollbar-color: #90A4AE #CFD8DC;
  }
  
  nav .content .links::-webkit-scrollbar {
    width: 10px;
  }
  nav .content .links::-webkit-scrollbar-track {
    background: #CFD8DC;
  }
  nav .content .links::-webkit-scrollbar-thumb {
    background-color: #90A4AE;
    border-radius: 10px;
    border: 3px solid #CFD8DC;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 1em;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  
  .content .links ul:hover{
    overflow-y:scroll;
    scrollbar-width: thin;
    scrollbar-color: #90A4AE #CFD8DC;
  }
  
  
  .content .links ul::-webkit-scrollbar {
    width: 10px;
  }

  .content .links ul::-webkit-scrollbar-track {
    background: #CFD8DC;
  }

  .content .links ul ::-webkit-scrollbar-thumb {
    background-color: #90A4AE;
    border-radius: 10px;
    border: 3px solid #CFD8DC;
  }
  .content .links #show-inventatori:checked ~ ul,
  .content .links #show-generalitati:checked ~ ul,
  .content .links #show-inventii:checked ~ ul,
  .content .links #show-items-fizica:checked ~ ul,
  .content .links #show-items-chimie:checked ~ ul,
  .content .links #show-items-aviatie:checked ~ ul,
  .content .links #show-items-navigatie:checked ~ ul,
  .content .links #show-items-medicina:checked ~ ul,
  .content .links #show-items-16:checked ~ ul,
  .content .links #show-items-18:checked ~ ul,
  .content .links #show-items-19:checked ~ ul,
  .content .links #show-items-20:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 1em;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 1em;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.quiz {
	padding-top: 100px;
  width: 100%;
  height: 100%;
  align-items: center;
}

.container{
	margin: 30px;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image{
	background: #50A7FF;
	position: relative;
	flex: 1;
	max-width: 30%;
	height: 50vh;
	margin: 20px;
	overflow: hidden;
}

.image img{
	opacity: 0.8;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	transition-property: opacity;
  width: 100%;
  height:100%;
}

.image:hover img{
	opacity: 1;
}

.image .details{
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 100%;
	height: 100%;
}

.image .details h2{
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 70px;
	transition: 0.4s;
	transition-property: transform;
}

.image .details h2 span{
	font-weight: 900;
}

.image:hover .details h2{
	transform: translateY(-30px);
}

.image .details p{
	margin: 30px 30px 0 30px;
	font-size: 0.8em;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p{
	opacity: 1;
	transform: translateY(-40px);
}

.more{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	bottom: -60px;
	transition: 0.6s;
	transition-property: bottom;
}

.image:hover .more{
	bottom: 0;
}

.more .read-more{
	color: #000;
	text-decoration: none;
	font-size: 0.75em;
	font-weight: 500;
	text-transform: uppercase;
}

.more .read-more span{
	font-weight: 900;
}

.more .icon-links a:not(:last-child) i{
	margin-right: 20px;
}

/* Responsive CSS */

@media (max-width: 1080px){
	.image{
		flex: 100%;
		max-width: 50%;
    height:60vh;
	}
}

@media (max-width: 400px){
	.more .read-more{
		font-size: 1em;
	}
}