:root{
    --backgroundColor: rgb(201, 197, 197);
    --formBackgroundColor: rgb(224, 219, 219);
    --shadow1: rgba(119,119,119,0.85);
    --shadow2: rgba(255,255,255,0.85);
    --shadow3: rgba(255,255,255);
    --h3Color: #00354d;
    --labelColor: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
}
#returnbutton {
    position: fixed;
    top: 15px;
    right: 10px;
}
.go-back {
    background-color : #506064;
    color: #f5e8e2;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #181e20;
    opacity: .9;
}
.login-page{
    width: 1000px;
    height: 480px;
    padding: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px 2px var(--shadow1),
    -10px -10px 10px 2px var(--shadow2),
    inset -2px -2px 5px var(--shadow1),
    inset 5px 5px 5px var(--shadow3);
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url('../img/original.jpeg');
    background-size: cover;
    position: relative;
    transition: all 0.5s ease-in-out;
    background-position: -250px center;
}

.box::before{
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #2196f3cf, #ff00ebc2);
}

.left,.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.btn{
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    color:white;
    cursor: pointer;
}

.left h3, .right h3{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}

.form-div{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    background-color: var(--formBackgroundColor);
}

.login-form, .register-form{
    width: 100%;
}
.login-form h3, .register-form h3{
    font-size: 2.4em;
    margin-bottom: 35px;
    text-align: center;
    width: 100%;
    color: var(--h3Color);
}

.form-group{
    margin-bottom: 25px;
}
.form-group p{
    color: white;;
}

.form-control{
    height: 45px;
    font-size: 1em;
    width: 100%;
    outline: none;
    padding: 10px;
    color: var(--labelColor);
}

.text{
    border: none;
    box-shadow: inset -5px -5px 5px var(--shadow3),
    inset 5px 5px 5px var(--shadow1);
    background-color: var(--formBackgroundColor);
    border-radius: 20px;
    padding-left: 15px;
}

.form-control:active, .form-control:focus{
    outline: none;
}

label{
   font-size: 17px; 
   cursor: pointer;
}

label1{
    font-size: 17px; 
    cursor: pointer;
    color: white;
}
 
.submit-btn{
    height: 40px;
    width: 100%;
    font-size: 17px;
    margin-top: 10px;
    border: none;
    background-color: var(--formBackgroundColor);
    box-shadow: 5px 5px 10px var(--shadow1),
    -10px -10px 10px var(--shadow2);
    cursor: pointer;
    border-radius: 20px;
    color: var(--labelColor);
    text-transform: uppercase;
}

.submit-btn:active{
    box-shadow: inset -5px -5px 5px var(--shadow3),
    inset 5px 5px 5px var(--shadow1);
}

.form-hidden{
    visibility: hidden;
    max-height: 0;
}
.slide-form .form-div{
    right: 50%;
}

.slide-form{
    background-position: 160px center;
}
