@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--input: #ffffff;
	--primary: #255ff4;
	--dur: 1s;
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1280 - 320));
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body{
  width: 100%;
  height: 100%;
  color: #444246;
  background:  linear-gradient(to bottom, #c0798d 0%,#6b5394 100%);
  background-size: cover;
  overflow: hidden;
}
body:hover{
  overflow-y:scroll;
  scrollbar-width: thin;
  scrollbar-color: #90A4AE #CFD8DC;
}

body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: #CFD8DC;
}
body::-webkit-scrollbar-thumb {
  background-color: #90A4AE;
  border-radius: 10px;
  border: 3px solid #CFD8DC;
}
.wrapper{
  background: #171c24;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 0.75em;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 10%;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper .search-icon{
  content: '';
  display: block;
  border-radius: 999px;
  width: 20px;
  height: 20px;
  left: 43px;
  bottom: 43px;
  background: #FDFAF5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.7em;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.7em;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}




/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  left: 100%;
  min-width:230px;
  text-align: center;
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1325px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 1109px){
  .wrapper .menu-icon{
    display: block;
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 91%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  nav .content .links:hover{
    overflow-y:scroll;
    scrollbar-width: thin;
    scrollbar-color: #90A4AE #CFD8DC;
  }
  
  nav .content .links::-webkit-scrollbar {
    width: 10px;
  }
  nav .content .links::-webkit-scrollbar-track {
    background: #CFD8DC;
  }
  nav .content .links::-webkit-scrollbar-thumb {
    background-color: #90A4AE;
    border-radius: 10px;
    border: 3px solid #CFD8DC;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 1em;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  
  .content .links ul:hover{
    overflow-y:scroll;
    scrollbar-width: thin;
    scrollbar-color: #90A4AE #CFD8DC;
  }
  
  
  .content .links ul::-webkit-scrollbar {
    width: 10px;
  }

  .content .links ul::-webkit-scrollbar-track {
    background: #CFD8DC;
  }

  .content .links ul ::-webkit-scrollbar-thumb {
    background-color: #90A4AE;
    border-radius: 10px;
    border: 3px solid #CFD8DC;
  }
  .content .links #show-inventatori:checked ~ ul,
  .content .links #show-generalitati:checked ~ ul,
  .content .links #show-inventii:checked ~ ul,
  .content .links #show-items-fizica:checked ~ ul,
  .content .links #show-items-chimie:checked ~ ul,
  .content .links #show-items-aviatie:checked ~ ul,
  .content .links #show-items-navigatie:checked ~ ul,
  .content .links #show-items-medicina:checked ~ ul,
  .content .links #show-items-16:checked ~ ul,
  .content .links #show-items-18:checked ~ ul,
  .content .links #show-items-19:checked ~ ul,
  .content .links #show-items-20:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 1em;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 1em;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

/* banner*/

.banner {
	padding: 250px 0px;
	background-image: url(../img/qiuz.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
  z-index: 10;
  width: 100%;
  height: 50%;
}

#buttonquiz {
  position: relative;
  top: 200px;
  text-align: center;
  z-index: 1;
}
.go-quiz {
  background-color : #c9cecf;
  color: #ad5d38;
  padding: 10px 10px;
  border-radius: 20px;
  border: 2px solid #121516;
  opacity: .9;
}


/*inventii*/
.title{
  text-align: center;
  color: #000;
  font-size: 180%;
  margin:40px;
}


.invents{
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-weight: 300;
  color: #505050;
  width: 100%;
  overflow: hidden;
}

/* REUSABLE COMPONENTS */

h2 {
  color: rgb(0, 0, 0);
  font-family: 'Playfair Display', Serif;
  font-size: 70%;
  font-weight: bold;
}

h5 {
  color: rgb(0, 0, 0);
  font-family: 'Playfair Display', Serif;
  font-size: 60%;
  font-weight: 300;
  
}
p {
  color: rgb(0, 0, 0);
  line-height: 120%;
}

a{
  font-weight: 400;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 0.8em;
}

/* MAIN */

.container{
  width:100%;
  margin:0px auto;
}
/* Float three columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}


.row {
  margin: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 785px) {
  
 .container{
    width: 90%;
  }
  
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: rgb(207, 154, 154);
  border-radius:10px;
  cursor:pointer;
  height: 10%;
  max-width: 90%;
}
.card .profile{
  border-radius:10px;
  transition: 0.2s;
  width: 100%;
  height: 10%;
}
.card:hover .profile{
  transform:scale(1.4);
  border-top-right-radius:50px;
  border-top-left-radius:50px;
}

.card .content{
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
}
.card .content .back{
  position:absolute;
  width:100%;
  height:100%;
  background:  linear-gradient(to bottom, #e9a166 0%,#f08b82 100%);
  transition:1s;
  z-index:1;
  padding:10px;
}

.from-left{
  top:0;
  left:-100%;
}
.card:hover .content .from-left {
  left:0%;
}

.from-bottom{
  top:100%;
  left:0;
}
.card:hover .content .from-bottom {
  top:0%;
}

.from-right{
  top:0%;
  right:-100%;
}
.card:hover .content .from-right {
  right:0;
}
.card .content .back h2{
  font-size:1em;
  color: rgb(0, 0, 0);
}
.card .content .back h3{
  color: rgb(0, 0, 0);
  font-size:0.5em;
  letter-spacing:2px;
}
.card .content .back .tem-img{
  border-radius:100%;
}

.card .content .back .des{
  font-size:0.5em;
  color: rgb(0, 0, 0);
  padding:20px 0px;
}

  /*domanins*/

.domains
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  width: 90%;
  margin: 20px;
}

.domains .boxd
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.domains .boxd::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.domains .boxd::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.domains .boxd:hover:before,
.domains .boxd:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.domains .boxd:nth-child(1):before,
.domains .boxd:nth-child(1):after
{
  background: linear-gradient(315deg, #f8bf21, #f57474)
}

.domains .boxd:nth-child(2):before,
.domains .boxd:nth-child(2):after
{
  background: linear-gradient(315deg, #79d1fa, #f7377a)
}

.domains .boxd:nth-child(3):before,
.domains .boxd:nth-child(3):after
{
  background: linear-gradient(315deg, #78fa40, #59d8f5)
}

.domains .boxd:nth-child(4):before,
.domains .boxd:nth-child(4):after
{
  background: linear-gradient(315deg, #f085c3, #8fd9f0)
}

.domains .boxd:nth-child(5):before,
.domains .boxd:nth-child(5):after
{
  background: linear-gradient(315deg,  #7facf3,#d6f17d)
}

.domains .boxd span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.domains .boxd span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.domains .boxd:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.domains .boxd span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.domains .boxd:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.domains .boxd .informatii
{
  position: relative;
  left: 0;
  padding: 20px 10px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  color: #fff;
  min-height: 80%;
  min-width: 80%;
}

.domains .boxd:hover .informatii
{
  left: -25px;
  padding: 60px 5px;
}

.domains .boxd .informatii h2
{
  font-size: 180%;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.domains .boxd .informatii p
{
  color: rgb(0, 0, 0);
  font-size: 70%;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 80%;
}

.domains .boxd .informatii a
{
  display: inline-block;
  font-size: 60%;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.domains .boxdd .informatii a:hover
{
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

#inter1{
  grid-area:inter1;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#inter2{
  grid-area:inter2;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#inter3{
  grid-area:inter3;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#inter4{
  grid-area:inter4;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem1{
  grid-area:elem1;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem2{
  grid-area:elem2;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem3{
  grid-area:elem3;
  font-size: 0.7em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem4{
  grid-area:elem4;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem5{
  grid-area:elem5;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem6{
  grid-area:elem6;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem7{
  grid-area:elem7;
  font-size: 0.7em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem8{
  grid-area:elem8;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}

#elem9{
  grid-area:elem9;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem10{
  grid-area:elem10;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem11{
  grid-area:elem11;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem12{
  grid-area:elem12;
  font-size: 0.8em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem13{
  grid-area:elem13;
  font-size: 0.7em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem14{
  grid-area:elem14;
  font-size: 0.7em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem15{
  grid-area:elem15;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem16{
  grid-area:elem16;
  font-size: 0.7em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}
#elem17{
  grid-area:elem17;
  font-size: 1em;
  color:black;
  background-color: rgb(223, 163, 163);
  border: 2px black;
  margin: 2px;
}

.container1{
  display: grid;
  grid-template-areas:
      "inter1 elem1 elem1 elem1 elem1 elem1 elem1 elem1"
      "inter2 elem2 elem3 elem4 elem5 elem6 elem7 elem8"
      "inter3 elem17 elem17 elem9 elem9 elem10 elem10 elem10"
      "inter4 elem11 elem11 elem12 elem13 elem14 elem15 elem16"
      ;
  grid-template-columns: repeat(8, 13%);
  grid-template-rows: repeat(4, 25%);
  text-align: center;
  width: 90%;
  margin-left:3%;
  opacity:0.9;
  margin-bottom: 5%;
  height: 50vh;
}

@media(max-width: 400px){
  .container1{
    display: grid;
    grid-template-areas:
        "inter1 elem1 elem1 elem1 elem1 elem1 elem1 elem1"
        "inter2 elem2 elem3 elem4 elem5 elem6 elem7 elem8"
        "inter3 elem17 elem17 elem9 elem9 elem10 elem10 elem10"
        "inter4 elem11 elem11 elem12 elem13 elem14 elem15 elem16"
        ;
    grid-template-columns: repeat(8, 13%);
    grid-template-rows: repeat(4, 25%);
    text-align: center;
    width: 90%;
    margin-left:3%;
    opacity:0.9;
    margin-bottom: 5%;
    height: 60vh;
  }
  #inter1{
    font-size: 0.6em;
  }
  #inter2{
    font-size: 0.6em;
  }
  #inter3{
    font-size: 0.6em;
  }
  #inter4{
    font-size: 0.6em;
  }
  #elem1{
    font-size: 0.6em;
  }
  #elem2{
    font-size: 0.6em;
  }
  #elem3{
    font-size: 0.4em;
  }
  #elem4{
    font-size: 0.5em;
  }
  #elem5{
    font-size: 0.5em;
  }
  #elem6{
    font-size: 0.6em;
  }
  #elem7{
    font-size: 0.3em;
  }
  #elem8{
    font-size: 0.6em;
  }
  #elem9{
    font-size: 0.6em;
  }
  #elem10{
    font-size: 0.6em;
  }
  #elem11{
    font-size: 0.6em;
  }
  #elem12{
    font-size: 0.55em;
  }
  #elem13{
    font-size: 0.4em;
  }
  #elem14{
    font-size: 0.5em;
  }
  #elem15{
    font-size: 0.6em;
  }
  #elem16{
    font-size: 0.4em;
  }
  #elem17{
    font-size: 0.6em;
  }
}
