<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>404 Error Page</title>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "/static/css/404eror.css">
    </head>
    <body>
        <h1>404 Error Page</h1>
        <p class="zoom-area">Page not found. </p>
        <div class="error-container">
        <span class="four"><span class="screen-reader-text">4</span></span>
        <span class="zero"><span class="screen-reader-text-zero">0</span></span>
        <span class="four1"><span class="screen-reader-text">4</span></span>
        </div>
        <div class="link-container">
        <a target="_blank" href="quiz.html" class="more-link">Return Home?</a>
        </div>
    </body>
</html>       