<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generalitati</title>
    <link rel="stylesheet" type="text/css" href="/static/css/generalitati.css">
</head>
<body>
    <%-include('../partials/navbar');%>
    <main>
        <section class="domenii">
            <h2 id ="fizica" class="title"><b>Fizică</b></h2>
             
            <div class="container">
            
                <div class="row">
                
                    <div class="image">
                        <img src="/static/img/inventatori/einstein.jpg" alt="Albert Einstein">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Albert Einstein</p>
                        </div>
                        </div>
                    </div>
                
                
                    <div class="image">
                        <img src="/static/img/inventatori/aurel-enache.jpg" alt="Aurel Enache">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Aurel Enache</p>
                        </div>
                        </div>
                    </div>
                
            
                    <div class="image">
                        <img src="/static/img/inventatori/newton.jpg" alt="Isaac Newton">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Isaac Newton</p>
                        </div>
                        </div>
                    </div>
                
                
                    <div class="image">
                        <img src="/static/img/inventatori/fahrenheit.jpg" alt="Daniel Gabriel Fahrenheit">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Daniel Gabriel Fahrenheit</p>
                        </div>
                        </div>
                    </div>
                
                
                    <div class="image">
                        <img src="/static/img/inventatori/otto.jpg" alt="Nikolaus Otto">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Nikolaus Otto</p>
                        </div>
                        </div>
                    </div>
                
                
                </div>
                
            </div>
            <!--image card layout end-->
            <h2 id ="chimie" class="title"><b>Chimie</b></h2>
             
            <div class="container">
            
                <div class="row">
                
                    <div class="image">
                        <img src="/static/img/inventatori/Petre-Bogdan.jpg" alt="Petre Bogdan">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Petre Bogdan</p>
                        </div>
                        </div>
                    </div>
                
                
                    <div class="image">
                        <img src="/static/img/inventatori/lazar-edeleanu.jpg" alt="Lazar Edeleanu">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Lazar Edeleanu</p>
                        </div>
                        </div>
                    </div>
                
            
                    <div class="image">
                        <img src="/static/img/inventatori/Sir-Humphry-Davy.jpg" alt="Sir Humphry Davy">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Sir Humphry Davy</p>
                        </div>
                        </div>
                    </div>
                
                
                    <div class="image">
                        <img src="/static/img/inventatori/alfred-nobel.jpg" alt="Alfred Nobel">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Alfred Nobel</p>
                        </div>
                        </div>
                    </div>
                
                </div>
                
            </div>
            <h2 id ="medicina" class="title"><b>Medicină</b></h2>
             
            <div class="container">
            
                <div class="row">
                
                    <div class="image">
                        <img src="/static/img/inventatori/victor-babes.jpg" alt="Victor Babeș">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Victor Babeș</p>
                        </div>
                        </div>
                    </div>
                
                
                    <div class="image">
                        <img src="/static/img/inventatori/Rontgen.jpg" alt="Wilhelm Conrad Rontgen">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Wilhelm Conrad Rontgen</p>
                        </div>
                        </div>
                    </div>
                
            
                    <div class="image">
                        <img src="/static/img/inventatori/rene.jpg" alt="Rene Laennec">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Rene Laennec</p>
                        </div>
                        </div>
                    </div>
                
                
                    <div class="image">
                        <img src="/static/img/inventatori/alfred-nobel.jpg" alt="Alfred Nobel">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Alfred Nobel</p>
                        </div>
                        </div>
                    </div>
                
                </div>
                
            </div>
            <h2 id ="aviatie" class="title"><b>Aviație</b></h2>
             
            <div class="container">
            
                <div class="row">
                
                    <div class="image">
                        <img src="/static/img/inventatori/justin-capră.jpg" alt="Justin Capră">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Justin Capră</p>
                        </div>
                        </div>
                    </div>
                
                
                    <div class="image">
                        <img src="/static/img/inventatori/vlaicu.jpg" alt="Aurel Vlaicu">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Aurel Vlaicu</p>
                        </div>
                        </div>
                    </div>
                
            
                    <div class="image">
                        <img src="/static/img/inventatori/vuia.png" alt="Traian Vuia">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Traian Vuia</p>
                        </div>
                        </div>
                    </div>
                
                
                    <div class="image">
                        <img src="/static/img/inventatori/Fratii-Wright.jpg" alt="Frații Wright">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Frații Wright</p>
                        </div>
                        </div>
                    </div>
                
                </div>
                
            </div>
            <h2 id ="navigatie" class="title"><b>Navigație</b></h2>
             
            <div class="container">
            
                <div class="row">
                
                    <div class="image">
                        <img src="/static/img/inventatori/thompson.jfif" alt="William Thompson">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">William Thompson</p>
                        </div>
                        </div>
                    </div>
                
                
                    <div class="image">
                        <img src="/static/img/inventatori/david.jfif" alt="David Bushnell">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">David Bushnell</p>
                        </div>
                        </div>
                    </div>
                
            
                    <div class="image">
                        <img src="/static/img/inventatori/cj.jpg" alt="Claude de Jouffroy">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Claude de Jouffroy</p>
                        </div>
                        </div>
                    </div>
                
                
                    <div class="image">
                        <img src="/static/img/inventatori/jr.jpg" alt="Josef Resselt">
                        <div class="details">
                        <div class="more">
                            <p class="read-more">Josef Resselt</p>
                        </div>
                        </div>
                    </div>
                
                </div>
                
            </div>
            
        </section>
    </main>
</body>
</html>