<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <%-include('../partials/navbar');%>
   <div class="banner">
        <div class = "imagine"></div>
        <div id="buttonquiz">
            <a class="go-quiz" href="quiz"><b>Vezi acum!</b></a>
        </div>
    </div>
<main>
    
    <div class="invents">
    <h2 class="title"><b>Cele mai recente invenții</b></h2>

    <div class="container">
        <div class="row">

            <div class="column">
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <img class="profile" src="/static/img/tastatura.jpg" alt="tastatura">
                            <h2>Tastatura invizibilă</h2>
                            <h5>Yapi N'Cho Didier</h5>
                        </div>
                        <div class="back from-left">
                            <h2>Tastatura invizibilă</h2>
                            <h3>Yapi N'Cho Didier</h3>
                            
                            <p class="des">
                                Acest instrument pare cu siguranţă rupt din filmele science fiction. Tastatura invizibilă Noki funcţionează cu ajutorul unui set de două brăţări care ...
                            </p>
                            <h4><a href="inventii#tast">Read more </a></h4>
                        </div>
                    </div>
                </div>
            </div>
       
         
            <div class="column">
                <div class="card">
                    <div class="content">
                        
                        <div class="front">
                            <img class="profile"  src="/static/img/cada-sferica.jpg" alt="cada sferica">
                            <h2>Cada de baie sferică</h2>
                            <h5>Aleksandr Zhukovskii</h5>
                        </div>
                        <div class="back from-bottom">
                            <h2>Cada de baie sferică</h2>
                            <h3>Aleksandr Zhukovskii</h3>
                           
                            <p class="des">
                                Designerul rus Aleksandr Zhukovskii a revoluţionat tehnologia căzilor de baie, construind una în formă de sferă. Acesta spune că senzaţia pe care o ai ...
                            </p>
                            <h4><a href="inventii#cada">Read more </a></h4>
                        </div>
                    </div>
                </div>
            </div>
       
        
            <div class="column">
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <img class="profile" src="/static/img/robinet-in.jpg" alt="robinet">
                            <h2>Robinetul econmic</h2>
                            <h5>Simin Qiu</h5>
                        </div>
                        <div class="back from-right">
                            <h2>Robinetul care te ajută să economiseşti apă</h2>
                            <h3>Simin Qiu</h3>
                            <p class="des">
                                Tânărul designer Simin Qiu a creat un robinet de baie unic care, pe lângă că arată absolut superb, te ajută ...
                            </p>
                            <h4><a href="inventii#rob">Read more </a></h4>
                        </div>
                    </div>
                </div>
            </div>
      
        </div>

        <div class="row">

            <div class="column">
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <img class="profile" src="/static/img/drona.jpg" alt="drona">
                            <h2>Drona cu autonomie mare</h2>
                            <h5>Mihai Dragu</h5>
                        </div>
                        <div class="back from-left">
                            <h2>Drona cu autonomie mare</h2>
                            <h3>Mihai Dragu</h3>
                            
                            <p class="des">
                                Un inginer român este autorul unei invenții de record mondial. Mihai Dragu a construit o dronă care a traversat....
                            </p>
                            <h4><a href="inventii#drona">Read more </a></h4>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="column">
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <img class="profile" src="/static/img/butuc-in.jpg" alt="lampa butuc">
                            <h2>Lampa butuc</h2>
                            <h5>Duncan Meerding</h5>
                        </div>
                        <div class="back from-bottom">
                            <h2>Lampa făcută dintr-un butuc de copac</h2>
                            <h3>Duncan Meerding</h3>
                            
                            <p class="des">
                                Un inventator australian a reuşit să descopere o modalitate prin care să introducă o sursă de lumină în inte...
                            </p>
                            <h4><a href="inventii#lampa">Read more </a></h4>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="column">
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <img class="profile"  src="/static/img/dispozitiv-vreme.jpg" alt="dispozitiv vreme">
                            <h2>Dispozitiv vreme</h2>
                            <h5>Ken Kawamoto</h5>
                        </div>
                        <div class="back from-right">
                            <h2>Dispozitivul care arată cum va fi vremea mâine</h2>
                            <h3>Ken Kawamoto</h3>
                            <p class="des">
                                Ken Kawamoto este un inginer care vrea să aducă tehnologia mai aproape de vieţile oamenilor, aşa că a inventat un ...
                            </p>
                            <h4><a href="inventii#vreme">Read more </a></h4>
                        </div>
                    </div>
                </div>
            </div>
      
        </div>

    </div>
    </div>
    <h2 class="title"><b>Cateva domenii importante</b></h2>
    
    <div class="domains">
        <div class="boxd">
            <span></span>
            <div class="informatii">
                <h2>Fizică</h2>
                <p>- Albert Einstein</p>
                <p>- Isaac Newton</p>
                <p>- Daniel Gabriel Fahrenheit</p>
                <p>-  Nikolaus Otto</p>
                <p>-  Aurel Enache</p>
                <a href="generalitati#fizica">Read More</a>
            </div>
        </div>
        <div class="boxd">
            <span></span>
            <div class="informatii">
                <h2>Chimie</h2>
                <p>- Petre Bogdan</p>
                <p>- Lazar Edeleanu</p>
                <p>- Sir Humphry Davy</p>
                <p>- Alfred Nobel</p>
                <a href="generalitati#chimie">Read More</a>
            </div>
        </div>
        <div class="boxd">
            <span></span>
            <div class="informatii">
                <h2>Aviație</h2>
                <p>- Justin Capră</p>
                <p>- Aurel Vlaicu</p>
                <p>- Traian Vuia</p>
                <p>- Frații Wright</p>
                <a href="generalitati#aviatie">Read More</a>
            </div>
        </div>
        <div class="boxd">
            <span></span>
            <div class="informatii">
                <h2>Medicină</h2>
                <p>- Victor Babeș</p>
                <p>- Wilhelm Conrad Rontgen</p>
                <p>- Rene Laennec</p>
                <p>- Alfred Nobel</p>
                <a href="generalitati#medicina">Read More</a>
            </div>
        </div>
        <div class="boxd">
            <span></span>
            <div class="informatii">
                    <h2>Navigație</h2>
                    <p>- William Thompson</p>
                    <p>- David Bushnell</p>
                    <p>- Claude de Jouffroy</p>
                    <p>- Josef Resselt</p>
                <a href="generalitati#navigatie">Read More</a>
            </div>
        </div>
    </div>
    <h2 class="title"><b>Tabelul Invențiilor</b></h2>
    <div class="container1">
        <div id="inter1">1600-1699</div>
        <div id="inter2">1800-1899</div>
        <div id="inter3">1900-1999</div>
        <div id="inter4">2014-2019</div>
        <div id="elem1">Telescopul</div>
        <div id="elem2">Becul</div>
        <div id="elem3">Aparatul de inregistrat sunete</div>
        <div id="elem4">Radioul</div>
        <div id="elem5">Aparat de filmat</div>
        <div id="elem6">Razele X</div>
        <div id="elem7">Automobilul</div>
        <div id="elem8">Stiloul</div>
        <div id="elem9">Avionul</div>
        <div id="elem10">Vaccinul antiholeric</div>
        <div id="elem11">Robinetul economic</div>
        <div id="elem12">Cada de baie sferică</div>
        <div id="elem13">Tastatura invizibilă</div>
        <div id="elem14">Lampa făcută dintr-un butuc</div>
        <div id="elem15">Drona</div>
        <div id="elem16">Dispozitiv vreme</div>
        <div id="elem17">Cibernetica</div>
        
    </div>
</main>
</body>
</html>