<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz1</title>
    <link rel="stylesheet" type="text/css" href="/static/css/quiz1.css">
</head>

<body>
    <nav>
        <div id="returnbutton">
            <a class="go-back" href="quiz">Back</a>
        </div>   
    </nav>
    <container></container>
    <script src="/static/js/quiz1.js"></script>
</body>
</html>