<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz2</title>
    <link rel="stylesheet" type="text/css" href="css/quiz2.css">
</head>

<body>
    <nav>
        <div id="returnbutton">
            <a class="go-back" href="quiz.html">Back</a>
        </div>   
    </nav>
    <container>
        <cont1></cont1>
        <cont2></cont2>
    </container>
    <script src="js/quiz2.js"></script>
</body>
</html>