<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/quiz5.css">
</head>
<body>
    <nav>
        <div id="returnbutton">
            <a class="go-back" href="quiz.html">Back</a>
        </div>    
    </nav>
    <div id="game">
    <h3>Help the snake to eat as many wise people as possible</h3>
    <div class="container noselect">
        <div class="wrapper">
          <button id="replay">
            <i class="fas fa-play"></i>
            RESTART
          </button>
          <div id="canvas">
      
          </div>
          <div id="ui">
            <h2>SCORE
            </h2>
            <span id="score">00</span>
          </div>
        </div>
      </div>
    </div>
      <script src = "js/quiz5.js"></script>
</body>
</html>