<div class="score">0</div>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz3</title>
    <link rel="stylesheet" type="text/css" href="/static/css/quiz3.css">
</head>

<body>
    <nav>
        <div id="returnbutton">
            <a class="go-back" href="quiz">Back</a>
        </div>    
     
    </nav>
   
 
    <script src="/static/js/quiz3.js"></script>
</body>
</html>
