<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aurel Vlaicu</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <nav>
        <div id="returnbutton">
            <a class="go-back" href="inventatori-si-savanti">Back</a>
        </div>   
    </nav>
       
        
    <div class ="banner-area">
        <div class="sigle-banner">
            <div class="banner-img">
                <img src = "/static/img/om8/vlaicu-img1.JPG" alt="">
            </div>
        </div>
        <div class="sigle-banner">
            <div class="banner-img">
                <img src = "/static/img/om8/vlaicu-img2.JPG" alt="">
            </div>
        </div>
    </div>

</body>
</html>